<footer>
  <div id="footer-wrapper">
    <!-- above the break -->
    <div id="above-break">
      <div id="twitter-box">
        <h2>"csgocact.us is now live! enjoy! @csgocact"</h2>
        <a href="http://twitter.com/csgocact"><img src="images//follow-twitter.png"></img></a>
      </div>
      <div id="media-icons">
        <div class="media-icon">
          <p><a href="http://facebook.com/csgocactus"><i class="fa fa-facebook"></i></a></p>
        </div>
        <div class="media-icon">
          <p><a href="http://twitter.com/csgocact"><i class="fa fa-twitter"></i></a></p>
        </div>
        <div class="media-icon">
          <p><a href="http://steamcommunity.com/groups/csgocactus"><i class="fa fa-steam"></i></p>
        </div>
        <div class="media-icon">
          <p><a href="http://reddit.com/u/csgocactus"><i class="fa fa-reddit"></i></a></p>
        </div>
      </div>
    </div>
    <hr id="footer-hr" class="fancy-line">
    <!-- below the break -->
    <div id="below-break">
      <img id="logo-large" src="images/large-logo-nobg.png"></img>
      <ul>
        <li><a href="#modal-tos" rel="modal:open">Terms of Service</a> -</li>
        <li><a href="/support">Support</a> -</li>
        <li><a href="/provably-fair">Provably Fair</a></li>
      </ul>
    </div>
  </div>
  <div id="copyright-footer">
    <p>csgocact.us &copy; 2016 - <a id="powered-by" href="http://steampowered.com">Powered by Steam</a><p>
  </div>
</footer>
