<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://use.fontawesome.com/78d8a1e558.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|PT+Sans" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/reset.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/component.css">
	<link rel="stylesheet" href="stylesheets/sweetalert.css">

	<title><%= pageTitle %> | csgocact.us</title>
</head>
