<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|PT+Sans" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/style.css">

	<meta name="google-site-verification" content="DyiI2bMxgdVY_88A6Lo2RSZeWdiosrrYw3FE49H-sVU" />

	<title><%= title %> | csgocact.us</title>
</head>
