// - includes/head.jade

head
  title="CSGOCactus - Play, Win, Withdraw"
  meta(charset="UTF-8")
  meta(name="description" content="CSGOCactus - Play, Win, Withdraw")
  meta(name="keywords" content="csgo, cs, global offensive, gambling, csgambling, coinflip, jackpot, cactus")
  meta(name="author" content="Mason Prey")
  link(rel='stylesheet', href='/stylesheets/main.css')
  script(src="/socket.io/socket.io.js")
  script(src="https://code.jquery.com/jquery-2.2.4.js")
  script(src="/javascripts/main.js")
