<!-- emote modal -->
<div class="md-modal md-effect-1" id="modal-emotes">
  <div class="md-content">
    <h2>Chat Emotes</h2>
    <a class="md-exit md-close" href="#0"><img src="images/cd-remove-item.svg"></img></a>
    <div id="emotes-wrapper"></div>
  </div>
</div>

<!-- terms of service modal -->
<div class="md-modal md-effect-1" id="modal-tos">
  <div class="md-content">
    <h2>Terms of Service</h2>
    <a class="md-exit md-close" href="#0"><img src="images/cd-remove-item.svg"></img></a>
    <div id="terms">
      <p>You will not be gay</p>
    </div>
  </div>
</div>

<!-- FAQ modal -->
<div class="md-modal md-effect-1" id="modal-faq">
  <div class="md-content">
    <h2>Frequently Asked Questions</h2>
    <a class="md-exit md-close" href="#0"><img src="images/cd-remove-item.svg"></img></a>
    <div id="terms">
      <p>How do I play? I don't know.</p>
    </div>
  </div>
</div>

<!-- shadow layer for slide out menus -->
<div class="md-overlay"></div>
<div id="shadow-layer"></div>
