<% include modals/deposit.modal.ejs %>
<% include modals/cf-game.modal.ejs %>
<% include modals/create-game.modal.ejs %>
<% include modals/emotes.modal.ejs %>
<% include modals/faq.modal.ejs %>
<% include modals/tos.modal.ejs %>

<!-- shadow layer for slide out menus -->
<div class="md-overlay"></div>
<div id="shadow-layer"></div>
