<!-- emote modal -->
<div class="md-modal md-effect-1" id="modal-emotes">
  <div class="md-content">
    <h2>Chat Emotes</h2>
    <a class="md-exit md-close" href="#0"><img src="images/cd-remove-item.svg"></img></a>
    <div id="emotes-wrapper"></div>
  </div>
</div>

<!-- terms of service modal -->
<div class="md-modal md-effect-1" id="modal-tos">
  <div class="md-content">
    <h2>Terms of Service</h2>
    <a class="md-exit md-close" href="#0"><img src="images/cd-remove-item.svg"></img></a>
    <div id="terms">
      <h1>
        By using CSGOCact.us (henceforth to be referred to as "CSGOCactus"), you acknowledge and accept these Terms of Service in full and without reservation,
        you are agreeing to our Terms of Service and you are responsible for compliance with any applicable laws.
        These Terms of Service govern your use of this website.
        <br>
        <br>
        <i>You must be age 18 or older to play on CSGOCactus.</i>
      </h1>
      <br>
      <h4>Ownership</h4>
      <p>All materials on this website are intellectual property of CSGOCactus and you may not use any of the content seen here for commercial use without permission. Exclusive rights for Counter-Strike: Global Offensive and its associated virtual items belong to Steam and the Valve Corporation.</p>
      <br>
      <h4>Acceptable Use</h4>
      <p>You must not use CSGOCactus in any way that causes, or may cause, damage to the webite or impairment of the availability or accessibility of CSGOCactus or in any way which in unlawful, illegal, fraudulent or harmful. Do not use CSGOCactus as a source for item exchanging to gain benefits from trading items that are in different price ranges compared to steam and our site.</p>
      <br>
      <h4>Item Values</h4>
      <p>You are participating in games that allow you to deposit and receive intangible items. We display a value in coins to add the effect that these items have no physical value. These coins values are based on the CSGOAnalyst database. These values are subject to change without notice. Patterns on items are not taken into account. By using CSGOCactus you are accepting our item values and there will be no refund in case of a value issue.</p>
      <br>
      <h4>Bans, Mutes & Conduct</h4>
      <p>CSGOCactus reserves the right to remove any user from our website with out and for any reason. Anyone attempting to scam other users maybe permenantly banned from using CSGOCactus. Players are asked to remain respectful at all times. Excessive spam, harassment, staff impersonation, solicitation, and defamation are strictly forbidden. Website advertisement, particularity of competing services, is not allowed.</p>
      <br>
      <h4>Privacy Policy</h4>
      <p>Steam profiles are used for identification purposes across the site. By using our service you acknowledge that your Steam profile, persona name, and avatar may be shared with other CSGOCactus users. CSGOCactus will never ask for, collect, or share the personal information of any of our users.</p>
      <br>
      <h4>Limitations of Liability</h4>
      <p>CSGOCactus is not responsible for trade/account bans that may occur as a resulting of accepting items from our bots. CSGOCactus assumes no responsibility for missed bets as a result of network latency or disconnections. Always ensure a stable connection before placing bets. Avoid placing important bets at the last second. Use of our services is at your own risk. CSGOCactus, its employees and affiliates will never be held liable for your profits or losses while using this website. Variation These terms and conditions ("Terms of Service") are able to be revised and edited by CSGOCactus at any time. Revised terms and conditions will apply from their effective date once published to this website.</p>
      <br>
      <h4>Law and Jurisdiction</h4>
      <p>These terms and conditions will be governed by and construed in accordance with the laws of United States Government, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of United States Government.</p>
      <br>
      <h1><i>CSGOCactus is not affiliated with Steam or the Valve Corporation.</i></h1>
    </div>
  </div>
</div>

<!-- FAQ modal -->
<div class="md-modal md-effect-1" id="modal-faq">
  <div class="md-content">
    <h2>Frequently Asked Questions</h2>
    <a class="md-exit md-close" href="#0"><img src="images/cd-remove-item.svg"></img></a>
    <div id="terms">
      <p>How do I play? I don't know.</p>
    </div>
  </div>
</div>

<!-- shadow layer for slide out menus -->
<div class="md-overlay"></div>
<div id="shadow-layer"></div>
