<header>
  <div id="logo"><img src="images/small-logo.svg" alt="Homepage"></div>

  <div id="hamburger-menu"><a class="img-replace" href="#0">Menu</a></div>
  <div id="user-trigger"><a class="img-replace" href="#0">User</a></div>
</header>

<nav id="main-nav">
  <ul>
    <li><a page-title="coinflip" class="nav-item pjax-trigger <% if (title == 'Coinflip') { %>current<% } %>" href="/coinflip"><i class="fa fa-circle" aria-hidden="true"></i> Coinflip</a></li>
    <li><a page-title="roulette" class="nav-item pjax-trigger <% if (title == 'Roulette') { %>current<% } %>" href="/roulette"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Roulette</a></li>
    <li><a rel="modal:open" page-title="deposit" class="nav-item pjax-trigger <% if (title == 'Deposit') { %>current<% } %>" href="#modal-deposit"><i class="fa fa-money" aria-hidden="true"></i>  Deposit</a></li>
    <li><a page-title="withdraw" class="nav-item pjax-trigger <% if (title == 'Withdraw') { %>current<% } %>" href="/withdraw"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Withdraw</a></li>
    <li><a page-title="support" class="nav-item pjax-trigger <% if (title == 'Support') { %>current<% } %>" href="/support"><i class="fa fa-envelope-o" aria-hidden="true"></i>  Support</a></li>
  </ul>
</nav>
