<li class="user-menu-item">
  <input class="toggle-box" id="steam-settings" type="checkbox">
  <label for="steam-settings" class="noselect">Steam Settings</label>
  <div class="sub-items-wrapper">
    <ul class="sub-items">

    </ul>
    <button id="steam-settings-refresh" type="submit">Refresh</button>
  </div>
</li>
