<!-- slide out user menu -->
<div id="user-menu">
  <% if (typeof user == 'object' && user) { %>
    <h2><%= user.name %></h2>
    <ul class="user-menu-items">
      <% include ../includes/client_settings %>
      <% include ../includes/steam_settings %>
    </ul>
    <a href="/logout" class="logout-btn">Logout</a>
  <% } else { %>
    <h2>User Profile</h2>
    <ul class="user-menu-items">
      <% include ../includes/client_settings %>
    </ul>
    <a href="/auth/steam" class="login-btn">Sign in with Steam</a>
  <% } %>
</div>
