<!-- slide out user menu -->
<div id="user-menu">
  <% if (typeof user == 'object' && user) { %>
    <h2><%= user.name %></h2>
    <ul class="user-menu-items">
      <li class="user-menu-item">
        <label><i class="fa fa-database" aria-hidden="true"></i> Credits</label>
        <label class="menu-value">
          <span id="balance-label"><%= user.credits %></span>
          <i class="fa fa-refresh" id="balance-reload" aria-hidden="true"></i>
        </label>
      </li>
      <% include ../includes/client_settings %>
      <% include ../includes/steam_settings %>
    </ul>
    <a href="/logout" class="logout-btn">Logout</a>
  <% } else { %>
    <h2>User Profile</h2>
    <ul class="user-menu-items">
      <% include ../includes/client_settings %>
    </ul>
    <a href="/auth/steam" class="login-btn">Sign in with Steam</a>
  <% } %>
</div>
