<main class="page-content clearfix" data-title="Coinflip | csgocact.us">
	<div id="coinflip-left">
		<div id="coinflip-header" class="content-div">
			<button id="create-game">CREATE</button>
		</div>
		<div id="coinflip-games" class="content-div">
			<div class="coinflip-game">

			</div>
		</div>
	</div>
	<div id="coinflip-right">
		<div id="coinflip-user-history" class="content-div">
			<div class="header">
				<h5>Your History</h5>
			</div>
		</div>
		<div id="coinflip-history" class="content-div">
			<div class="header">
				<h5>History</h5>
			</div>
		</div>
		<div id="coinflip-leaderboards" class="content-div">
			<div class="header">
				<h5>Leaderboards</h5>
			</div>
		</div>
	</div>
</main>
