<main class="page-content clearfix" data-title="Coinflip | csgocact.us">
	<div id="coinflip-header" class="coinflip-div">
	</div>
	<div id="coinflip-flexbox">
		<div id="coinflip-games" class="coinflip-div">
			coinflip
		</div>
		<div id="coinflip-history" class="coinflip-div">
		</div>
		<div id="coinflip-halloffame" class="coinflip-div">
		</div>
	</div>
</main>
