extends layout

block content
  script(src="/javascripts/coin-flip.js")
  link(rel='stylesheet', href='/stylesheets/coin-flip.css')
  h1 GAMES
  .games
    table.games
      tr
        th User
        th Status
        th Amount
        th Face
