<main class="page-content clearfix" data-title="Coinflip | csgocact.us">
	<div id="cf-left">
		<div id="cf-header" class="content-div">
			<button id="create-game">CREATE</button>
		</div>
		<div id="cf-games" class="content-div">
			<div class="cf-game">

			</div>
		</div>
	</div>
	<div id="cf-right">
		<div id="cf-user-history" class="content-div">
			<div class="header">
				<h5>Your History</h5>
				<table class="cf-table" id="cf-history-table">
					<tr>
						<td id="history-side"><img src="images/ct-coin.png"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="won">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img src="images/ct-coin.png"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="won">51.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img src="images/ct-coin.png"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="won">45.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img src="images/ct-coin.png"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img src="images/ct-coin.png"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img src="images/ct-coin.png"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img src="images/ct-coin.png"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="cf-history" class="content-div">
			<div class="header">
				<h5>History</h5>
			</div>
		</div>
		<div id="cf-leaderboards" class="content-div">
			<div class="header">
				<h5>Leaderboards</h5>
			</div>
		</div>
	</div>
</main>
