<main class="page-content clearfix" data-title="Coinfliper | csgocact.us">
	<div id="cf-left">
		<div id="cf-header" class="content-div">
			<button id="create-game">DERP</button>
		</div>
		<div id="cf-games" class="content-div">
			<div class="cf-game">

			</div>
		</div>
	</div>
	<div id="cf-right">
		<div id="cf-user-history" class="content-div">
			<h5>want your ad here? Send a message to contact@csgocact.us</h5>
		</div>
		<div id="cf-user-history" class="content-div">
			<div class="header">
				<h5>
					<i class="fa fa-server" aria-hidden="true"></i> Your History <span class="game-amount" id="user-game-amount">5</span>
					<span id="cf-dropdown-trigger" class="opened noselect"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
					<span id="cf-dropdown-trigger" class="closed noselect"><i class="fa fa-minus-square" aria-hidden="true"></i></span>
				</h5>
			</div>
			<div class="table-wrapper">
				<table class="cf-table" id="cf-user-history-table">
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="won">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="won">51.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="won">45.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="ct-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="ct-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="lost">5.45</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="cf-history" class="content-div">
			<div class="header">
				<h5>
					<i class="fa fa-history" aria-hidden="true"></i> History <span class="game-amount" id="history-game-amount">32</span>
					<span id="cf-dropdown-trigger" class="opened noselect"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
					<span id="cf-dropdown-trigger" class="closed noselect"><i class="fa fa-minus-square" aria-hidden="true"></i></span>
				</h5>
			</div>
			<div class="table-wrapper">
				<table class="cf-table" id="cf-history-table">
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span>5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span>51.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span>45.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="ct-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span>5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span>5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span>5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span>5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span>5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="t-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span>5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><img class="ct-coin"></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span>5.45</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="cf-leaderboards" class="content-div">
			<div class="header">
				<h5>
					<i class="fa fa-signal" aria-hidden="true"></i> Leaderboards
					<span id="cf-dropdown-trigger" class="opened noselect"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
					<span id="cf-dropdown-trigger" class="closed noselect"><i class="fa fa-minus-square" aria-hidden="true"></i></span>
				</h5>
			</div>
			<div class="table-wrapper" id="cf-leaderboards-table">
				<table class="cf-table" id="cf-history-table">
					<tr>
						<td id="history-side"><span>1.</span></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>fuck u</span></td>
						<td id="history-amount"><span class="record">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><span>2.</span></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="record">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><span>3.</span></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="record">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><span>4.</span></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="record">5.45</span></td>
					</tr>
					<tr>
						<td id="history-side"><span>5.</span></img></td>
						<td id="history-user"><img src="images/large-logo-bg.png"></img><span>mprey</span></td>
						<td id="history-amount"><span class="record">5.45</span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</main>
