extends layout

block content
  if user
    h2 Hello #{user.displayName} - #[a(href="logout") Logout]
  else
    h2 Welcome. go login now.
    p #[a(href="auth/steam") Sign in with steam]

  p #[a(href="account") See account information]
