<% include includes/head %>

  <body>

  	<% include includes/nav %>

    <main class="page-content clearfix">
  	   <%-include(content)-%>
    </main>

  	<%-include includes/user_menu-%>

  	<% include includes/chat %>

  	<% include includes/modals %>

    <% include includes/spinner %>

  	<% include includes/footer %>

    <% include includes/scripts %>

  </body>
</html>
