doctype html
html
  head
    title="CSGO Website"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io.connect('http://localhost:3000')
  body
    block content
