doctype html
html
  head
    title="CSGOExtreme - Play, Win, Withdraw"
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-2.2.4.js")
    script(src="/javascripts/main.js")
  body
    block content
