<% var pageTitle = 'Coinflip' %>
<% include includes/head %>

<body>

	<% var currentPage = '/coinflip' %>
	<% include includes/nav %>

	<main class="page-content clearfix">
		<div id="coinflip-header" class="coinflip-div">

		</div>
		<div id="coinflip-flexbox">
			<div id="coinflip-games" class="coinflip-div">

			</div>
			<div id="coinflip-history" class="coinflip-div">

			</div>
			<div id="coinflip-halloffame" class="coinflip-div">

			</div>
		</div>
	</main>

	<% include includes/user_menu %>

	<% include includes/chat %>

	<% include includes/modals %>

	<% include includes/footer %>

	<% include includes/scripts %>
</body>
</html>
