<div class="content-div">
	<h2>FAQ</h2>
	<p>Please read all of the following before submitting a support ticket, your answer will most likely be covered.</p>
	<div class="faq-question">
		<h3>I tried to withdraw a skin, but I didn't get an offer and my coins are gone! What's next?</h3>
		<p>
			Create a support ticket A.S.A.P - please include your Steam64ID and your tradelink when submitting a
			ticket about withdrawls. Please wait patiently for a support ticket, allow 48 hours to pass before
			submitting another ticket.
		</p>
	</div>
	<div class="faq-question">
		<h3>I made a deposit but I did not receive any coins. What's next?</h3>
		<p>
			Do not worry, our support team can take care of it. Please go on and submit a support ticket, including
			your Steam64ID and tradelink when submitting. These errors are sadly fairly common and mostly due to a
			miscommunication with Steam. <b>WARNING!</b>You must submit a ticket within 24 hours to receive a refund.
		</p>
	</div>
	<div class="faq-question">
		<h3>Partnership / Sponsorship question?</h3>
		<p>
			If you/you all are looking for a sponsorship with us, please send a ticket. Keep in mind, you must
			have an adequate following in order to be sponsored.
		</p>
	</div>
	<div class="faq-question">
		<h3>Can I transfer credits to my other account because ... ... ..?</h3>
		<p>
			We will never transfer credits to another account for any reason. Do not submit any tickets regarding this issue.
			Please be wary of Steam restrictions before playing on your account.
		</p>
	</div>
	<div class="faq-question">
		<h3>I enabled Steam Mobile Authenticator, but I still cannot withdraw. What should I do?</h3>
		<p>
			If you have recently enabled Steam Mobile Authenticator on your account, a trade restriction will be placed for 7 days.
			If your account was recently created, a 15 day trade restriction will be placed.
		</p>
	</div>
	<div class="faq-question">
		<h3>I tried to withdraw, but it gave me an error saying my trades will be held on escrow. Help!</h3>
		<p>
			Your account has trade restrictions tied to it. It means either you do not have Steam Mobile Authenticator enabled,
			which is required, or you just enabled it and are on a trade cooldown for either 7 or 15 days.
		</p>
	</div>
</div>
