<div class="content-div support">
	<h2><span>FAQ</span></h2>
	<p><i class="fa fa-info-circle" aria-hidden="true"></i>Please read all of the following before submitting a support ticket, your answer will most likely be covered.</p>
	<hr>
	<div class="faq-question">
		<h3>1. I tried to withdraw a skin, but I didn't get an offer and my coins are gone! What's next?</h3>
		<p>
			Create a support ticket A.S.A.P - please include your Steam64ID and your tradelink when submitting a
			ticket about withdrawls. Please wait patiently for a support ticket, allow 48 hours to pass before
			submitting another ticket.
		</p>
	</div>
	<hr>
	<div class="faq-question">
		<h3>2. I made a deposit but I did not receive any coins. What's next?</h3>
		<p>
			Do not worry, our support team can take care of it. Please go on and submit a support ticket, including
			your Steam64ID and tradelink when submitting. These errors are sadly fairly common and mostly due to a
			miscommunication with Steam. <b>WARNING!</b>You must submit a ticket within 24 hours to receive a refund.
		</p>
	</div>
	<hr>
	<div class="faq-question">
		<h3>3. Partnership / Sponsorship question?</h3>
		<p>
			If you/you all are looking for a sponsorship with us, please send a ticket. Keep in mind, you must
			have an adequate following in order to be sponsored.
		</p>
	</div>
	<hr>
	<div class="faq-question">
		<h3>4. Can I transfer credits to my other account because ... ... ..?</h3>
		<p>
			We will never transfer credits to another account for any reason. Do not submit any tickets regarding this issue.
			Please be wary of Steam restrictions before playing on your account.
		</p>
	</div>
	<hr>
	<div class="faq-question">
		<h3>5. I enabled Steam Mobile Authenticator, but I still cannot withdraw. What should I do?</h3>
		<p>
			If you have recently enabled Steam Mobile Authenticator on your account, a trade restriction will be placed for 7 days.
			If your account was recently created, a 15 day trade restriction will be placed.
		</p>
	</div>
	<hr>
	<div class="faq-question">
		<h3>6. I tried to withdraw, but it gave me an error saying my trades will be held on escrow. Help!</h3>
		<p>
			Your account has trade restrictions tied to it. It means either you do not have Steam Mobile Authenticator enabled,
			which is required, or you just enabled it and are on a trade cooldown for either 7 or 15 days.
		</p>
	</div>
	<div class="faq-question">
		<h3>7. What is my amount 'wagered' on the withdraw page?</h3>
		<p>
			In order to stop users from abusing our withdraw/deposit system, you must 'wager' a certain number of credits in order to
			withdraw. For example, if you play a coinflip game worth $10, you will have wagered $10 by doing so and can therefore withdraw
			a skin worth $10. This is to prevent users from depositing unwanted skins on the marketplace and withdrawing new skins.
		</p>
	</div>
	<hr>
	<div class="faq-question">
		<h3>8. Support</h3>
		<p>
			When writing a support ticket, please be patient and give our support team up to 48 hours to respond.
			Tickets that have been answered in the FAQ above will not be replied to.
		</p>
	</div>
	<hr>
	<a href="http://support.csgocact.us" onclick="this.target=&quot;_blank&quot;">Support</a>
</div>
