<div class="content-div withdraw__box">
	<h4>Site Inventory</h4>
	<input class="withdraw__input" placeholder="Search for a skin..." />
	<select class="withdraw__dropdown">
		<option value="price-desc">Price Descend</option>
		<option value="price-asc">Price Ascend</option>
		<option value="a-z">A-Z</option>
		<option value="z-a">Z-A</option>
	</select>
	<div class="withdraw__inventory">
		<div class="withdraw__item">
			<img />
			<!-- TODO -->
		</div>
	</div>
</div>
<div class="content-div withdraw__info">
	<h4>Selection</h4>
</div>
