* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-content {
  min-height: 100%;
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

#footer, .page-wrap:after {
  height: 142px;
}

#footer {
  background: orange;
}
