body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
  color: red;
  border: 3px solid red;
}

html {
  background-color: rgb(31, 31, 46);
}
