<div class="modal modal-effect-1" id="cf-game-modal" style="display:none;">
  <div class="modal-header">
    <p>Game ID: #<span id="cf-game-id">0</span></p>
  </div>
  <div class="modal-content">
    <div id="cf-user-left">
      <img id="img-user-left" class="profile-img" src="images/unknown.png"></img>
      <img class="t-coin cf-coin-tag" id="cf-coin-left"></img>
      <span id="cf-user-name-left">Waiting...</span>
    </div>
    <div id="cf-content-center">
      <img id="ct-and-t" src="images/ctandt.png"></img>
      <div class="flip-container" id="flip-toggle">
        <div class="flipper">
          <div class="front">
            <img class="flip-coin" src="images/t-coin.png">
          </div>
          <div class="back">
            <img class="flip-coin" src="images/ct-coin.png">
          </div>
        </div>
      </div>
    </div>
    <div id="cf-user-right">
      <img id="img-user-right" class="profile-img" src="images/unknown.png"></img>
      <img class="ct-coin cf-coin-tag" id="cf-coin-right"></img>
      <span id="cf-user-name-right">Waiting...</span>
    </div>
    <div class="modal-content-bottom">
      <div id="cf-user-left-amount">
        <p><span><i class="fa fa-database" aria-hidden="true"></i><span id="cf-money-left">0.00</span></span></p>
      </div>
      <div id="cf-game-status">
        <a class="" id="cf-game-join-btn"><span>JOIN</span><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></a>
        <p id="cf-game-countdown">...</p>
      </div>
      <div id="cf-user-right-amount">
        <p><span><i class="fa fa-database" aria-hidden="true"></i><span id="cf-money-right">0.00</span></span></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <p>Hash Code: <span id="cf-hash-code">0</span></p>
  </div>
</div>
