<div class="modal modal-effect-1" id="cf-modal-create-game" style="display:none;">
  <h2>Create a Game</h2>
  <div id="cf-create-wrapper">
    <div id="cf-coins-wrapper" class="clearfix">
      <div id="t-coin" class="selected coin-div">
        <p class="label">Terrorists</p>
        <img class="t-coin"></img>
        <p><span>0% - 49%</span></p>
      </div>
      <div id="ct-coin" class="coin-div">
        <p class="label">Counter-Terrorists</p>
        <img class="ct-coin"></img>
        <p><span>50% - 100%</span></p>
      </div>
    </div>
    <div id="cf-modal-footer-wrapper">
      <div id="cf-amount-selector">
        <input type="text" value="0.00" id="cf-amount-input"></input>
        <input type="range" min="0.5" max="20.00" value="5.00" step="0.10" id="cf-input-range"></input>
      </div>
      <a id="finalize-game" class="noselect" href="#0">
        <span>Create</span>
        <div class="icon">
          <i class="fa fa-plus-square-o"></i>
        </div>
      </a>
    </div>
  </div>
</div>
