<div class="modal modal-effect-1" id="modal-deposit" style="display:none;">
  <div class="modal-header">
    <p>Deposit Skins</p>
  </div>
  <div class="modal-content">
    <div class="modal-content-settings">
      <p><i class="fa fa-refresh noselect" aria-hidden="true"></i> Force Refresh</p>
      <select class="modal-dropdown">
        <option value="price-desc">Price Descend</option>
        <option value="price-asc">Price Ascend</option>
        <option value="a-z">A-Z</option>
        <option value="z-a">Z-A</option>
      </select>
    </div>
    <div class="spinner">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
    <div class="deposit-item consumer">
      <img src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXX7gNTPcUlrBpNQ0LvROW-0vDYVkQ6fABW77mhKlYxhKacImwT74znwtDSzvOkZriCkm8Cu5UojO_Foo_x3hqkpRTgYuAtow/330x192"></img>
      <span>54.32</span>
      <p>CS:GO Case Key (Field-Tested)</p>
    </div>
    <div class="deposit-item industrial">
      <img src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXX7gNTPcUlrBpNQ0LvROW-0vDYVkQ6fABW77mhKlYxhKacImwT74znwtDSzvOkZriCkm8Cu5UojO_Foo_x3hqkpRTgYuAtow/330x192"></img>
      <span>82.43</span>
      <p>CS:GO Case Key (Field-Tested)</p>
    </div>
    <div class="deposit-item mil-spec">
      <img src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXX7gNTPcUlrBpNQ0LvROW-0vDYVkQ6fABW77mhKlYxhKacImwT74znwtDSzvOkZriCkm8Cu5UojO_Foo_x3hqkpRTgYuAtow/330x192"></img>
      <span>1.43</span>
      <p>CS:GO Case Key (Field-Tested)</p>
    </div>
    <div class="deposit-item restricted">
      <img src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXX7gNTPcUlrBpNQ0LvROW-0vDYVkQ6fABW77mhKlYxhKacImwT74znwtDSzvOkZriCkm8Cu5UojO_Foo_x3hqkpRTgYuAtow/330x192"></img>
      <span>7.42</span>
      <p>CS:GO Case Key (Field-Tested)</p>
    </div>
    <div class="deposit-item classified selected">
      <img src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXX7gNTPcUlrBpNQ0LvROW-0vDYVkQ6fABW77mhKlYxhKacImwT74znwtDSzvOkZriCkm8Cu5UojO_Foo_x3hqkpRTgYuAtow/330x192"></img>
      <span>5.00</span>
      <p>CS:GO Case Key (Field-Tested)</p>
    </div>
    <div class="deposit-item covert">
      <img src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXX7gNTPcUlrBpNQ0LvROW-0vDYVkQ6fABW77mhKlYxhKacImwT74znwtDSzvOkZriCkm8Cu5UojO_Foo_x3hqkpRTgYuAtow/330x192"></img>
      <span>5.00</span>
      <p>CS:GO Case Key (Field-Tested)</p>
    </div>
    <div class="deposit-item gold">
      <img src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXX7gNTPcUlrBpNQ0LvROW-0vDYVkQ6fABW77mhKlYxhKacImwT74znwtDSzvOkZriCkm8Cu5UojO_Foo_x3hqkpRTgYuAtow/330x192"></img>
      <span>5.00</span>
      <p>CS:GO Case Key (Field-Tested)</p>
    </div>
    <div class="deposit-item classified">
      <img src="http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXX7gNTPcUlrBpNQ0LvROW-0vDYVkQ6fABW77mhKlYxhKacImwT74znwtDSzvOkZriCkm8Cu5UojO_Foo_x3hqkpRTgYuAtow/330x192"></img>
      <span>5.00</span>
      <p>CS:GO Case Key (Field-Tested)</p>
    </div>
  </div>
  <div class="modal-footer">
    <div class="price-counter">
      <p>0.00</p>
    </div>
    <div class="deposit-submit">
      <p>Deposit</p>
    </div>
  </div>
</div>
