<div class="modal modal-effect-1" id="modal-deposit" style="display:none;">
  <div class="modal-header">
    <p>Deposit Skins</p>
  </div>
  <div class="modal-content">
    <div class="modal-content-settings">
      <p><i class="fa fa-refresh noselect" aria-hidden="true"></i> Force Refresh</p>
      <select class="modal-dropdown">
        <option value="price-desc">Price Descend</option>
        <option value="price-asc">Price Ascend</option>
        <option value="a-z">A-Z</option>
        <option value="z-a">Z-A</option>
      </select>
    </div>
    <div class="deposit-item">
      
    </div>
  </div>
  <div class="modal-footer">
    <div class="price-counter">
      <p>0.00</p>
    </div>
    <div class="deposit-submit">
      <p>Deposit</p>
    </div>
  </div>
</div>
