<!-- FAQ modal -->
<div class="modal modal-effect-1" id="modal-faq" style="display:none;">
  <div class="modal-content">
    <h2>Frequently Asked Questions</h2>
    <div id="terms">
      <p>How do I play? I don't know.</p>
    </div>
  </div>
</div>
